img {
    width: 100%;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    gap: 15px;
}

ul li img {
    width: 250px;
}

body {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 14px 20px;
    border: 0.5px solid #c4c4c4;
    border-radius: 13px;
    color: #000;
}

nav ul li a:hover {
    color: #f00;
}

nav ul li a.active {
    color: #f00;
}

#firstSection {
    max-width: 800px;
    margin: 0 auto;
}

#firstSection h1 {
    text-align: center;
}

#firstSection p {
    font-size: 16pt;
    text-align: justify;
}

footer {
    text-align: center;
    color: #c4c4c4;
}

#music-group {
    display: flex;
    justify-content: center;
}

#music-group .music {
    padding: 20px;
}

#music-group .music h3 {
    white-space: break-spaces;
    text-align: left;
}

.precos {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .precos th {
    background-color: #555;
    color: white;
    padding: 12px;
    text-align: left;
  }
  
  .precos td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .precos tr:nth-child(even){background-color: #f2f2f2;}
  
  .precos tr:hover {background-color: #ddd;}
  